<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffee.mapper.StudentMapper">

    <select id="find" parameterType="Student" resultType="Student">
        select * from student
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="studentName != null">
                <if test="studentName != ''">
                    and student_name like #{studentName}
                </if>
            </if>
            <if test="studentNumber != null">
                <if test="studentNumber != ''">
                    and student_number like #{studentNumber}
                </if>
            </if>
            <if test="studentEmail != null">
                <if test="studentEmail != ''">
                    and student_email like #{studentEmail}
                </if>
            </if>
            <if test="studentClass != null">
                <if test="studentClass != ''">
                    and student_class = #{studentClass}
                </if>
            </if>
            <if test="studentSchool != null">
                and student_school = #{studentSchool}
            </if>
            <if test="studentGrade != null">
                and student_grade = #{studentGrade}
            </if>
            <if test="studentPassword != null">
                and student_password = #{studentPassword}
            </if>
        </where>
    </select>

    <update id="update" parameterType="Student">
        update student
        <set>
            <if test="studentName != null">
                student_name = #{studentName},
            </if>
            <if test="studentEmail != null">
                student_email = #{studentEmail},
            </if>
            <if test="studentClass != null">
                student_class = #{studentClass},
            </if>
            <if test="studentSchool != null">
                student_school = #{studentSchool},
            </if>
            <if test="studentGrade != null">
                student_grade = #{studentGrade},
            </if>
            <if test="studentPassword != null">
                student_password = #{studentPassword},
            </if>
        </set>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="id == null">
                and 1 != 1
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="Student">
        delete from student
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="id == null">
                and 1 != 1
            </if>
        </where>
    </delete>

    <insert id="insert" parameterType="Student">
        insert into student(
            student_name, student_number, student_class,
            student_email, student_school, student_password,
            student_grade)
        values(#{studentName}, #{studentNumber}, #{studentClass},
            #{studentEmail}, #{studentSchool}, #{studentPassword},
            #{studentGrade}
        )
    </insert>

    <select id="search" resultType="Student">
        SELECT student.*
        FROM student
        <where>
            id IN (
                SELECT DISTINCT id
                FROM (
                    SELECT id, student_name as search_key
                    FROM student
                    WHERE student.student_name like CONCAT(CONCAT('%', #{key}), '%')
                    UNION
                    SELECT id, student_number as search_key
                    FROM student
                    WHERE student.student_number like CONCAT(CONCAT('%', #{key}), '%')
                    UNION
                    SELECT id, student_class as search_key
                    FROM student
                    WHERE student.student_class like CONCAT(CONCAT('%', #{key}), '%')
                    ORDER BY LENGTH (search_key)
                ) as temp
            )
            <if test="student.id != null">
                and id = #{student.id}
            </if>
            <if test="student.studentName != null">
                <if test="student.studentName != ''">
                    and student_name like #{student.studentName}
                </if>
            </if>
            <if test="student.studentNumber != null">
                <if test="student.studentNumber != ''">
                    and student_number like #{student.studentNumber}
                </if>
            </if>
            <if test="student.studentEmail != null">
                <if test="student.studentEmail != ''">
                    and student_email like #{student.studentEmail}
                </if>
            </if>
            <if test="student.studentClass != null">
                <if test="student.studentClass != ''">
                    and student_class = #{student.studentClass}
                </if>
            </if>
            <if test="student.studentSchool != null">
                and student_school = #{student.studentSchool}
            </if>
            <if test="student.studentGrade != null">
                and student_grade = #{student.studentGrade}
            </if>
            <if test="student.studentPassword != null">
                and student_password = #{student.studentPassword}
            </if>
            <!-- search under course id -->
            <if test="courseId != null">
                and student.id in (
                    select student_id
                    from course_schedule
                    where course_id = #{courseId}
                )
            </if>
        </where>
    </select>
</mapper>