<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffee.mapper.TeacherMapper">

    <select id="find" resultType="Teacher" parameterType="Teacher">
        select * from teacher
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="teacherNumber != null">
                and teacher_number like #{teacherNumber}
            </if>
            <if test="teacherName != null">
                and teacher_name like #{teacherName}
            </if>
            <if test="teacherSchool != null">
                and teacher_school = #{teacherSchool}
            </if>
            <if test="teacherTitle != null">
                and teacher_title = #{teacherTitle}
            </if>
            <if test="teacherEmail != null">
                and teacher_email like #{teacherEmail}
            </if>
            <if test="teacherPassword != null">
                and teacher_password = #{teacherPassword}
            </if>
        </where>
    </select>

    <update id="update" parameterType="Teacher">
        update teacher
        <set>
            <if test="teacherNumber != null">
                <if test="teacherNumber != ''">
                    teacher_number = #{teacherNumber},
                </if>
            </if>
            <if test="teacherName != null">
                <if test="teacherName != ''">
                    teacher_name = #{teacherName},
                </if>
            </if>
            <if test="teacherSchool != null">
                teacher_school = #{teacherSchool},
            </if>
            <if test="teacherTitle != null">
                <if test="teacherTitle != ''">
                    teacher_title = #{teacherTitle},
                </if>
            </if>
            <if test="teacherEmail != null">
                <if test="teacherEmail != ''">
                    teacher_email = #{teacherEmail},
                </if>
            </if>
            <if test="teacherPassword != null">
                teacher_password = #{teacherPassword},
            </if>
        </set>

        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="id == null">
                and 1 != 1
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="Teacher">
        delete from teacher
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="id == null">
                and 1 != 1
            </if>
        </where>
    </delete>

    <insert id="insert" parameterType="Teacher">
        insert into teacher(teacher_name, teacher_number, teacher_school, teacher_email, teacher_password, teacher_title)
        values (#{teacherName}, #{teacherNumber}, #{teacherSchool}, #{teacherEmail}, #{teacherPassword}, #{teacherTitle})
    </insert>

    <select id="search" resultType="Teacher">
        SELECT teacher.*
        FROM teacher
        <where>
            id IN (
                SELECT DISTINCT id
                FROM (
                    SELECT id, teacher_name as search_key
                    FROM teacher
                    WHERE teacher.teacher_name like CONCAT(CONCAT('%',#{key}), '%')
                    UNION
                    SELECT id, teacher_number as search_key
                    FROM teacher
                    where teacher.teacher_number like CONCAT(CONCAT('%',#{key}), '%')
                    ORDER BY LENGTH (search_key)
                ) as temp
            )
            <if test="teacher.id != null">
                and id = #{teacher.id}
            </if>
            <if test="teacher.teacherNumber != null">
                <if test="teacher.teacherNumber != '' ">
                    and teacher_number like #{teacher.teacherNumber}
                </if>
            </if>
            <if test="teacher.teacherName != null">
                <if test="teacher.teacherName != '' ">
                    and teacher_name like #{teacher.teacherName}
                </if>
            </if>
            <if test="teacher.teacherSchool != null">
                and teacher_school = #{teacher.teacherSchool}
            </if>
            <if test="teacher.teacherTitle != null">
                <if test="teacher.teacherTitle != ''">
                    and teacher_title = #{teacher.teacherTitle}
                </if>
            </if>
            <if test="teacher.teacherEmail != null">
                <if test="teacher.teacherEmail != ''">
                    and teacher_email like #{teacher.teacherEmail}
                </if>
            </if>
            <if test="teacher.teacherPassword != null">
                and teacher_password = #{teacher.teacherPassword}
            </if>
        </where>
    </select>
</mapper>