<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- <setting name="jdbcTypeForNull" value="NULL"/> -->
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 将积极加载改为消极加载即是按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <typeAliases>
        <package name="com.murmur.po"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="helperDialect" value="mysql"/>
            <!--配置pageNum参数合理化-->
            <property name="reasonable" value="true"/>
            <!--配置pageNum参数合理化-->
            <property name="supportMethodsArguments" value="true"/>
<!--            <property name="properties">-->
<!--                <value>-->
<!--                    helperDialect=mysql-->
<!--                    reasonable=true-->
<!--                    supportMethodsArguments=true-->
<!--                    params=count=countSql-->
<!--                    autoRuntimeDialect=true-->
<!--                </value>-->
<!--            </property>-->
        </plugin>
    </plugins>

</configuration>